body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Estilos para la lista de productos y bebidas */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: 150px; /* Ajusta la altura según sea necesario */
    object-fit: cover;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.cancelar {
    background-color: #FF0000;
    margin-left: 10px;
}

.cancelar:hover {
    background-color: #cc0000;
}

/* Estilos para la canasta */
#canasta {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

#canasta li {
    margin: 5px 0;
}

#total {
    font-weight: bold;
    color: #333;
}

/* Botón de pagar */
#botonPagar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#botonPagar:hover {
    background-color: #218838;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
